<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Name="Rust-SSH-Client" Manufacturer="Rust-SSH" Version="$(var.ProductVersion)" Scope="perMachine" UpgradeCode="9F2A0E95-7C8C-4D98-8B76-AF3C5DBA5E11">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Rust-SSH-Client is already installed." />
    <util:CloseApplication Id="CloseRustSshClient" Target="rust-ssh-client.exe" CloseMessage="no" TerminateProcess="1" RebootPrompt="no" Timeout="1" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="RustSshIcon" SourceFile="$(var.IconPath)" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <Feature Id="MainFeature" Title="Rust-SSH-Client" Level="1">
      <ComponentRef Id="ClientExecutable" />
      <ComponentRef Id="ClientData" />
      <ComponentRef Id="ClientShortcut" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Rust-SSH-Client">
        <Directory Id="DataFolder" Name="data" />
      </Directory>
    </StandardDirectory>

    <Component Id="ClientExecutable" Directory="INSTALLFOLDER" Guid="e37de214-42e3-4fed-b54d-8407aae6f591">
      <File Id="ClientExe" Source="$(var.BinaryPath)" KeyPath="yes" />
      <RemoveFile Id="RemoveClientExecutable" Name="rust-ssh-client.exe" On="uninstall" />
      <RemoveFolder Id="RemoveClientInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
    </Component>

    <Component Id="ClientData" Directory="DataFolder" Guid="d7f7f8a7-5d5f-4b6f-87fd-3c4d12dcd801">
      <CreateFolder>
        <util:PermissionEx User="Users" GenericAll="yes" />
      </CreateFolder>
    </Component>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Rust-SSH" />
    </StandardDirectory>

    <Component Id="ClientShortcut" Directory="ApplicationProgramsFolder">
      <Shortcut Id="ClientStartMenuShortcut" Name="Rust-SSH-Client" Target="[#ClientExe]" WorkingDirectory="INSTALLFOLDER" Icon="RustSshIcon" IconIndex="0">
        <ShortcutProperty Key="System.AppUserModel.ID" Value="Rust-SSH.Client" />
      </Shortcut>
      <RemoveFile Id="RemoveLegacyClientShortcut" Name="rust-ssh client.lnk" On="install" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Rust-SSH" Name="clientInstalled" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
